<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head(title = ${saus} == null ?
'Saus niet gevonden.' : ${saus.naam})">
</head>

<body>

<nav th:replace="fragments::menu"></nav>

<div th:if="not ${saus}" class="fout">Saus niet gevonden:
    <th:block th:text="${id}"></th:block>
</div>



<th:block th:if="${saus}" th:object="${saus}">
    <h1 th:text="*{naam}"></h1>
    <dl>
        <dt>Ingredienten</dt>
        <dd>
            <ul>
                <li th:each="ingredient : *{ingredienten}" th:text="${ingredient}"></li>
            </ul>
        </dd>
    </dl>
    <img th:src="@{/images/{naam}.png(naam = *{naam})}" th:alt="*{naam}">
</th:block>
</body>
</html>