<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head(title='Snacks')">

</head>

<nav th:replace="fragments::menu"></nav>

<body>

<h1>Snacks</h1>

<!--<table th:replace="fragments::sauzenTabel(sauzen = ${alleSauzen})"></table>-->

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Naam</th>
        <th>Prijs</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="snack : ${alleSnacks}" th:object="${snack}">
        <td th:text="*{id}"></td>
        <td> <a th:text="*{naam}" th:href="@{/snacks/{id}/wijzigen/form(id=*{id})}"/></td>
        <td th:text="*{prijs}"></td>

        <!--                <td th:each="ingredient : *{ingredienten}" th:text="${ingredient}"></td>-->
    </tr>
    </tbody>
</table>

</body>

</html>